{% extends 'base.html.twig' %}

{% block body %}




    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="6u 12u(mobile)">

                    <!-- Banner Copy -->
                    <p>A Fantoni atua no mercado de Manutenção Predial e Pinturas desde 2003. Através de sua experiência...</p>
                    <a href="fantoni.html" class="button-big">continuar lendo</a>

                </div>
                <div class="6u 12u(mobile)">

                    <!-- Banner Image -->
                    <a href="#" class="bordered-feature-image"><img src="images/banner.jpg" alt="" /></a>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div id="features">
        <div class="container">
            <div class="row">
                <div class="3u 12u(mobile)">

                    <!-- Feature #1 -->
                    <section>
                        <a href="http://www.fantonimanutencao.com.br/servicos.html#PinturasAdequacaoNR26" class="bordered-feature-image"><img src="images/pic01.jpg" alt="" /></a>
                        <h2>Pinturas para adequação da NR-26</h2>
                        <p>
                            A NR-26 “Sinalização de Segurança”, adverte para as cores utilizadas nos locais de trabalho para identificar os equipamentos de segurança...
                        </p>
                    </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #2 -->
                    <section>
                        <a href="http://www.fantonimanutencao.com.br/servicos.html#revitalizaçãoPisosMosaicos" class="bordered-feature-image"><img src="images/pic02.jpg" alt="" /></a>
                        <h2>Revitalização de pisos em mosaicos</h2>
                        <p>
                            O lixamento e aplicação de um verniz especial que só a Fantoni utiliza, podem trazer a vida para seu piso de mosaico, dando um brilho...
                        </p>
                    </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #3 -->
                    <section>
                        <a href="http://www.fantonimanutencao.com.br/servicos.html#barradosPU" class="bordered-feature-image"><img src="images/pic03.jpg" alt="" /></a>
                        <h2>Barrados de PU</h2>
                        <p>
                            Realizamos barrados em paredes com verniz PU incolor para dar maior durabilidade a pintura e facilitar a limpeza.
                        </p>
                    </section>

                </div>
                <div class="3u 12u(mobile)">

                    <!-- Feature #4 -->
                    <section>
                        <a href="http://www.fantonimanutencao.com.br/servicos.html#projeto3D" class="bordered-feature-image"><img src="images/pic04.jpg" alt="" /></a>
                        <h2>Projeto em 3D</h2>
                        <p>
                            O trabalho é estruturado a partir do estudo das necessidades e objetivos específicos do cliente, com a elaboração de projetos personalizados e...
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
